<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Tracking</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-N5l6JgQ6I9WZJP+QnYnMkLdFcbgBknGwNwvpu7rN1fIK1XpSzJtKsUKt41z4t4vk"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }
      .card {
        border-radius: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .card-header {
        background-color: #f8f9fa;
        color: #212529;
        font-size: 24px;
        font-weight: bold;
      }
      .card-body {
        padding: 40px;
      }
      .icon {
        font-size: 60px;
      }
      .status {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .description {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Order Placed</div>
            <div class="card-body">
              <i class="fas fa-calendar-alt icon"></i>
              <div class="status">Order Placed</div>
              <div class="description">
                Your order has been received and is being processed.
              </div>
              <div class="date">Feb 15, 2023</
                <div class="description">
                    Your order has been shipped and is on its way to you.
                  </div>
                  <div class="date">Feb 16, 2023</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">Order Delivered</div>
                <div class="card-body">
                  <i class="fas fa-check-circle icon"></i>
                  <div class="status">Order Delivered</div>
                  <div class="description">
                    Your order has been delivered and received by the recipient.
                  </div>
                  <div class="date">Feb 17, 2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Bootstrap JS -->
        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper"
          integrity="sha384-2k+vdKbjD7kfM8wq4FQVn0zt77HbPWVJB5W5f9g0pPMyoHYfL+ID8wGzXd7+pOEs"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
          integrity="sha384-4Ua4G1pWNflgKjBoP6o5Qc48voe5hDX1gTE5/FkymF1hRYvlRXryz9QYLuq3nqNO"
          crossorigin="anonymous"
        ></script>
        
